@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Roboto Mono', monospace;
    color: rgb(63, 62, 62);
}

html {
    min-height: 100%;
    background-color: rgb(198, 188, 176);
}

.header {
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    margin: 30px 0px;
}

#container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    gap: 150px;
    margin: 0 auto;

}

.left {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.grid-container {
    user-select: none;
    display: grid;
    width: 600px;
    height: 600px;
    background: white;
    box-shadow: 3px 3px 9px rgb(0, 0, 0);
}

button {
    align-self: flex-start;
    border: 2px solid rgb(33, 34, 35);
    border-radius: 10px;
    background: rgb(215, 220, 215);
    padding: 8px 30px;
    font-size: 30px;
    box-shadow: 3px 3px 9px rgb(0, 0, 0);
    cursor: pointer;
}

button:hover, input[type='color']:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.size{
    align-self: flex-start;
    width: 200px;
}

.size-value{
    font-size: 25px;
}

.change-color {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    align-self: flex-start;
    cursor: pointer;
}

.active {
    transform: scale(1.05);
    background-color: rgb(149, 144, 144);
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    padding: 30px 0px;
    font-size: 20px;
    background: aliceblue;
}

.clear{
    background-color: white;
}